In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk import corpus
from nltk.corpus import stopwords
from nltk import word_tokenize
import re
from nltk import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [2]:
Data = pd.read_csv("D:\Machine Learning\dataset\Amazontrain.csv")

In [3]:
Data.head(10)

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000
5,2152929,HINS Metal Bucket Shape Plant Pot for Indoor &...,"[Simple and elegant, great for displaying indo...",HINS Brings you the most Elegant Looking Pot w...,5725,950.000000
6,413758,Ungifted: My Life and Journey,NaN,NaN,23,598.000000
7,2026580,Delavala Self Adhesive Kitchen Backsplash Wall...,[HIGH QUALITY PVC MATERIAL: The kitchen alumin...,<p><strong>Aluminum Foil Stickers-good kitchen...,6030,984.251967
8,2050239,PUMA Cali Sport Clean Women's Sneakers White L...,[Style Name:-Cali Sport Clean Women's Sneakers...,NaN,3302,393.700000
9,2998633,Hexwell Essential oil for Home Fragrance Oil A...,[100% Pure And Natural Essential Oil Or Fragra...,"Transform your home, workplace or hotel room i...",8201,393.700787

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249698 entries, 0 to 2249697
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   PRODUCT_ID       int64
 1   TITLE            object
 2   BULLET_POINTS    object
 3   DESCRIPTION      object
 4   PRODUCT_TYPE_ID  int64
 5   PRODUCT_LENGTH   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 103.0+ MB

In [5]:
Data.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  2.249698e+06     2.249698e+06    2.249698e+06
mean   1.499795e+06     4.000456e+03    4.071839e+03
std    8.661944e+05     3.966146e+03    1.351685e+06
min    1.000000e+00     0.000000e+00    1.000000e+00
25%    7.494795e+05     2.300000e+02    5.118110e+02
50%    1.499558e+06     2.916000e+03    6.630000e+02
75%    2.250664e+06     6.403000e+03    1.062992e+03
max    2.999999e+06     1.342000e+04    1.885801e+09

In [6]:
Data.isnull().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [7]:
Data_new = Data.drop(columns=['PRODUCT_ID'], axis= 1)

In [8]:
Data_new['Content'] = Data_new['TITLE'] + " " +  Data_new['BULLET_POINTS'] + " " + Data_new['DESCRIPTION']
Data_new.drop(columns = ["TITLE","BULLET_POINTS","DESCRIPTION"], axis = 1 , inplace = True)

In [10]:
Data_new.sample(10)

,PRODUCT_TYPE_ID,PRODUCT_LENGTH,Content
438570,7565,4363.000,NaN
1060491,0,744.093,NaN
1792422,99,598.000,NaN
1402808,1622,8976.360,JaipurFabric Pure Cotton Red Floral Pattern Re...
1876358,6130,900.000,NaN
1618030,12680,1200.000,Caroline's Treasures White Staffie Bull Terrie...
1639725,6108,744.000,NaN
57534,963,300.000,NaN
1674558,1,600.000,NaN
307573,230,150.000,Kahn CLEANSE Face Cleanser [Plant-Based Ingred...

In [11]:
Data_new.isnull().sum()

PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
Content            1211238
dtype: int64

In [ ]:
Data_new = Data_new.dropna()
Data_new

In [ ]:
Data_new.duplicated().sum()
Data_new= Data_new.drop_duplicates(keep='first')
Data_new

In [ ]:
Data_new['PRODUCT_TYPE_ID'].value_counts().head(500)

In [ ]:
# count = Data_new['PRODUCT_TYPE_ID'].value_counts()
# threshold = 1000
# repl = count[count <= threshold].index
# print(Data_new['PRODUCT_TYPE_ID'].unique())

In [ ]:
# Data_cat = pd.get_dummies(Data_new['PRODUCT_TYPE_ID'].replace(repl,'Uncommmon'))

In [ ]:
nltk.download('stopwords')

In [ ]:
import string

In [ ]:
ps = PorterStemmer()

In [ ]:
def preprocessing(contents):
    stemmed_content = re.sub('[^a-zA-Z]',' ',(contents))
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [ps.stem(word) for word in stemmed_content if word not in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [ ]:
Data_new_sample = Data_new.sample(20000, random_state=2)

In [ ]:
Data_new_sample

In [ ]:
Data_new_sample['TITLE'] = Data_new_sample['TITLE'].apply(preprocessing)

In [ ]:
Data_new_sample

In [ ]:
vectorizer = TfidfVectorizer(max_features=5000)

In [ ]:
x  = Data_new_sample.loc[:,['TITLE','PRODUCT_TYPE_ID']]

In [ ]:
y = Data_new_sample['PRODUCT_LENGTH']

In [ ]:
vectorizer = TfidfVectorizer(max_features=1000)

In [ ]:
titles = list(x['TITLE'])

title_arr = (vectorizer.fit_transform(titles)).toarray()
title_arr

In [ ]:
temp_df = pd.DataFrame(title_arr, index=x.index)

In [ ]:
temp_df

In [ ]:
x = x.drop('TITLE', axis =1)

In [ ]:
final_data = pd.concat([x,temp_df],axis =1)

In [ ]:
final_data

In [ ]:
final_data.columns = final_data.columns.astype(str)

In [ ]:
x_train, x_test, y_train,y_test = train_test_split(final_data, y, test_size = 0.25, random_state=42)

In [ ]:
model = LinearRegression()
model.fit(x_train, y_train)

In [ ]:
y_predicted = model.predict(x_test)

In [ ]:
score = r2_score(y_test, y_predicted)
score

In [ ]:
mse = mean_squared_error(y_test, y_predicted)
mse

In [ ]:
mae = mean_absolute_error(y_test, y_predicted)
mae

In [ ]:
maep = mean_absolute_percentage_error(y_test, y_predicted)
maep

In [ ]:
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt

In [ ]:
# Convert the column to a list of words
words = Data_new_sample['TITLE'].str.lower().str.split()

# Use the Counter class to count the number of times each word appears
counts = Counter(words)

# Sort the results by the count of each word
sorted_counts = counts.most_common()

In [ ]:
# Visually represent the results using a bar chart
plt.barh(sorted_counts, sorted_counts[1])
plt.xlabel('Count')
plt.ylabel('Word')
plt.show()